@keyframes xuanzhuan {
	from{
		transform:rotate(0deg);}
	to{transform:rotate(360deg);}
	}
div{
	animation:xuanzhuan 4s infinite;
	animation-timing-function:linear;
	}
ul li{
	list-style: none;
	margin: 0 0 0 -40}
h1{size:400;}
a{opacity:0.5;}
body{text-align:center;}
footer{
	padding: 4px 10px 4px 10px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 12;
	-webkit-transition: .2s linear;
	-moz-transition: .2s linear;
	-o-transition: .2s linear;
	transition: .2s linear
}
